import * as {{machine}} from "@zag-js/{{machine}}"
import { normalizeProps, useMachine, mergeProps } from "@zag-js/solid"
import { createMemo, createUniqueId } from "solid-js"
import { {{machine}}Controls, {{machine}}Style } from "@zag-js/shared"
import { StateVisualizer } from "../components/state-visualizer"
import { Toolbar } from "../components/toolbar"
import { useControls } from "../hooks/use-controls"

export default function Page() {
  const controls = useControls({{machine}}Controls)

  const [state, send] = useMachine({{machine}}.machine({ id: createUniqueId() }), {
    context: controls.context,
  })

  const api = createMemo(() => {{machine}}.connect(state, send, normalizeProps))

  return (
    <>
      <main class="{{machine}}"> 
        <div {...api().rootProps}> 
            
        </div>
      </main>

      <Toolbar controls={controls.ui} visualizer={<StateVisualizer state={state} />} />
    </>
  )
}
