import { injectGlobal } from "@emotion/css"
import * as {{machine}} from "@zag-js/{{machine}}"
import { normalizeProps, useMachine, useSetup, mergeProps } from "@zag-js/vue"
import { computed, defineComponent, h, Fragment } from "vue"
import { {{machine}}Controls, {{machine}}Style } from "@zag-js/shared"
import { StateVisualizer } from "../components/state-visualizer"
import { Toolbar } from "../components/toolbar"
import { useControls } from "../hooks/use-controls"
import { useId } from "../hooks/use-id"

injectGlobal({{machine}}Style)

export default defineComponent({
  name: "{{machine}}",
  setup() {
    const controls = useControls({{machine}}Controls)

    const [state, send] = useMachine({{machine}}.machine, {
      context: controls.context,
    })

    const ref = useSetup({ send, id: useId() })

    const apiRef = computed(() => {{machine}}.connect(state.value, send, normalizeProps))

    return () => {
      const api = apiRef.value

      return (
        <>
          <main>
            <div ref={ref} {...api.rootProps}>
            
            </div>
          </main>

          <Toolbar controls={controls.ui} visualizer={<StateVisualizer state={state} />} />
        </>
      )
    }
  },
})
