import * as {{machine}} from "@zag-js/{{machine}}"
import { normalizeProps, useMachine, mergeProps } from "@zag-js/vue"
import { computed, defineComponent, h, Fragment } from "vue"
import { {{machine}}Controls, {{machine}}Data } from "@zag-js/shared"
import { StateVisualizer } from "../components/state-visualizer"
import { Toolbar } from "../components/toolbar"
import { useControls } from "../hooks/use-controls"

export default defineComponent({
  name: "{{machine}}",
  setup() {
    const controls = useControls({{machine}}Controls)

    const [state, send] = useMachine({{machine}}.machine({ id: "1" }), {
      context: controls.context,
    })

    const apiRef = computed(() => {{machine}}.connect(state.value, send, normalizeProps))

    return () => {
      const api = apiRef.value

      return (
        <>
          <main class="{{machine}}">
            <div {...api.rootProps}>
            
            </div>
          </main>

          <Toolbar controls={controls.ui}>
            <StateVisualizer state={state} />
          </Toolbar>
        </>
      )
    }
  },
})
