<script setup lang="ts">
import * as {{camelCase machine}} from "@zag-js/{{machine}}"
import { {{camelCase machine}}Controls, {{camelCase machine}}Data } from "@zag-js/shared"
import { normalizeProps, useMachine } from "@zag-js/vue"

const [state, send] = useMachine({{camelCase machine}}.machine({ id: "1" }))

const api = computed(() => {{camelCase machine}}.connect(state.value, send, normalizeProps))
</script>

<template>
  <main className="{{machine}}">
    <div v-bind="api.getRootProps()">
    </div>
  </main>

  <Toolbar>
    <StateVisualizer :state="state" />
  </Toolbar>
</template>
