<script setup lang="ts">
import * as {{camelCase machine}} from "@zag-js/{{machine}}"
import { {{camelCase machine}}Controls, {{camelCase machine}}Data } from "@zag-js/shared"
import { normalizeProps, useMachine } from "@zag-js/vue"

const service = useMachine({{camelCase machine}}.machine, { id: useId() })

const api = computed(() => {{camelCase machine}}.connect(service, normalizeProps))
</script>

<template>
  <main className="{{machine}}">
    <div v-bind="api.getRootProps()">
    </div>
  </main>

  <Toolbar>
    <StateVisualizer :state="service" />
  </Toolbar>
</template>
